/*	Пиктограммы государственных флагов в спрайте
/* v0.1, 8 июля 2011
/*	@author Артём Поликарпов, artpolikarpov.ru (artpolikarpov@gmail.com)
/*  @author Никита Иванов (исходные пиктограммы флагов), nickivanov.ru (nickivanov@nickivanov.ru)
/* Набор распостраняется на условиях лицензии CC-BY-SA

/* Эти летом я был: в <i class="b-fg b-fg_nh"><img src="fg.png"/></i> Гондурасе, <i class="b-fg b-fg_li"><img src="fg.png"/></i> Лихтенштейне, <i class="b-fg b-fg_se"><img src="fg.png"/></i> и Швеции. */

@import "compass"

$i: 0
$sprite: 'fg.png'
$flagWidth: 16px
$flagHeight: 9px

.b-fg
	display: -moz-inline-box
	-moz-box-orient: vertical
	display: inline-block
	*display: inline
	*zoom: 1
	vertical-align: baseline
	position: relative
	overflow: hidden
	width: $flagWidth
	height: $flagHeight
	font-size: 0
	line-height: 0
	img
		display: inline
		border: none
		margin: 0
		padding: 0
		position: relative
		top: $flagHeight
		+transition(top, .25s)

.b-fg_no-transition
	img
		+transition(none)

=flag
	img
		top: -($i * $flagHeight)

.b-fg_ABKHAZIA
	+flag
$i: $i + 1

.b-fg_AD
	+flag
$i: $i + 1

.b-fg_AE
	+flag
$i: $i + 1

.b-fg_AF
	+flag
$i: $i + 1

.b-fg_AG
	+flag
$i: $i + 1

.b-fg_AI
	+flag
$i: $i + 1

.b-fg_AL
	+flag
$i: $i + 1

.b-fg_AM
	+flag
$i: $i + 1

.b-fg_AN
	+flag
$i: $i + 1

.b-fg_AO
	+flag
$i: $i + 1

.b-fg_AQ
	+flag
$i: $i + 1

.b-fg_AR
	+flag
$i: $i + 1

.b-fg_AS
	+flag
$i: $i + 1

.b-fg_AT
	+flag
$i: $i + 1

.b-fg_AU
	+flag
$i: $i + 1

.b-fg_AW
	+flag
$i: $i + 1

.b-fg_AX
	+flag
$i: $i + 1

.b-fg_AZ
	+flag
$i: $i + 1

.b-fg_BA
	+flag
$i: $i + 1

.b-fg_BB
	+flag
$i: $i + 1

.b-fg_BD
	+flag
$i: $i + 1

.b-fg_BE
	+flag
$i: $i + 1

.b-fg_BF
	+flag
$i: $i + 1

.b-fg_BG
	+flag
$i: $i + 1

.b-fg_BH
	+flag
$i: $i + 1

.b-fg_BI
	+flag
$i: $i + 1

.b-fg_BJ
	+flag
$i: $i + 1

.b-fg_BL
	+flag
$i: $i + 1

.b-fg_BM
	+flag
$i: $i + 1

.b-fg_BN
	+flag
$i: $i + 1

.b-fg_BO
	+flag
$i: $i + 1

.b-fg_BR
	+flag
$i: $i + 1

.b-fg_BS
	+flag
$i: $i + 1

.b-fg_BT
	+flag
$i: $i + 1

.b-fg_BV
	+flag
$i: $i + 1

.b-fg_BW
	+flag
$i: $i + 1

.b-fg_BY
	+flag
$i: $i + 1

.b-fg_BZ
	+flag
$i: $i + 1

.b-fg_CA
	+flag
$i: $i + 1

.b-fg_CC
	+flag
$i: $i + 1

.b-fg_CD
	+flag
$i: $i + 1

.b-fg_CF
	+flag
$i: $i + 1

.b-fg_CG
	+flag
$i: $i + 1

.b-fg_CH
	+flag
$i: $i + 1

.b-fg_CI
	+flag
$i: $i + 1

.b-fg_CK
	+flag
$i: $i + 1

.b-fg_CL
	+flag
$i: $i + 1

.b-fg_CM
	+flag
$i: $i + 1

.b-fg_CN
	+flag
$i: $i + 1

.b-fg_CO
	+flag
$i: $i + 1

.b-fg_CR
	+flag
$i: $i + 1

.b-fg_CU
	+flag
$i: $i + 1

.b-fg_CV
	+flag
$i: $i + 1

.b-fg_CX
	+flag
$i: $i + 1

.b-fg_CY
	+flag
$i: $i + 1

.b-fg_CZ
	+flag
$i: $i + 1

.b-fg_DE
	+flag
$i: $i + 1

.b-fg_DJ
	+flag
$i: $i + 1

.b-fg_DK
	+flag
$i: $i + 1

.b-fg_DM
	+flag
$i: $i + 1

.b-fg_DO
	+flag
$i: $i + 1

.b-fg_DZ
	+flag
$i: $i + 1

.b-fg_EC
	+flag
$i: $i + 1

.b-fg_EE
	+flag
$i: $i + 1

.b-fg_EG
	+flag
$i: $i + 1

.b-fg_EH
	+flag
$i: $i + 1

.b-fg_ER
	+flag
$i: $i + 1

.b-fg_ES-CE
	+flag
$i: $i + 1

.b-fg_ES-ML
	+flag
$i: $i + 1

.b-fg_ES
	+flag
$i: $i + 1

.b-fg_ET
	+flag
$i: $i + 1

.b-fg_EU
	+flag
$i: $i + 1

.b-fg_FI
	+flag
$i: $i + 1

.b-fg_FJ
	+flag
$i: $i + 1

.b-fg_FK
	+flag
$i: $i + 1

.b-fg_FM
	+flag
$i: $i + 1

.b-fg_FO
	+flag
$i: $i + 1

.b-fg_FR
	+flag
$i: $i + 1

.b-fg_GA
	+flag
$i: $i + 1

.b-fg_GB
	+flag
$i: $i + 1

.b-fg_GD
	+flag
$i: $i + 1

.b-fg_GE
	+flag
$i: $i + 1

.b-fg_GF
	+flag
$i: $i + 1

.b-fg_GG
	+flag
$i: $i + 1

.b-fg_GH
	+flag
$i: $i + 1

.b-fg_GI
	+flag
$i: $i + 1

.b-fg_GL
	+flag
$i: $i + 1

.b-fg_GM
	+flag
$i: $i + 1

.b-fg_GN
	+flag
$i: $i + 1

.b-fg_GP
	+flag
$i: $i + 1

.b-fg_GQ
	+flag
$i: $i + 1

.b-fg_GR
	+flag
$i: $i + 1

.b-fg_GS
	+flag
$i: $i + 1

.b-fg_GT
	+flag
$i: $i + 1

.b-fg_GU
	+flag
$i: $i + 1

.b-fg_GW
	+flag
$i: $i + 1

.b-fg_GY
	+flag
$i: $i + 1

.b-fg_HK
	+flag
$i: $i + 1

.b-fg_HM
	+flag
$i: $i + 1

.b-fg_HN
	+flag
$i: $i + 1

.b-fg_HR
	+flag
$i: $i + 1

.b-fg_HT
	+flag
$i: $i + 1

.b-fg_HU
	+flag
$i: $i + 1

.b-fg_IC
	+flag
$i: $i + 1

.b-fg_ID
	+flag
$i: $i + 1

.b-fg_IE
	+flag
$i: $i + 1

.b-fg_IL
	+flag
$i: $i + 1

.b-fg_IM
	+flag
$i: $i + 1

.b-fg_IN
	+flag
$i: $i + 1

.b-fg_IO
	+flag
$i: $i + 1

.b-fg_IQ
	+flag
$i: $i + 1

.b-fg_IR
	+flag
$i: $i + 1

.b-fg_IS
	+flag
$i: $i + 1

.b-fg_IT
	+flag
$i: $i + 1

.b-fg_JE
	+flag
$i: $i + 1

.b-fg_JM
	+flag
$i: $i + 1

.b-fg_JO
	+flag
$i: $i + 1

.b-fg_JP
	+flag
$i: $i + 1

.b-fg_KE
	+flag
$i: $i + 1

.b-fg_KG
	+flag
$i: $i + 1

.b-fg_KH
	+flag
$i: $i + 1

.b-fg_KI
	+flag
$i: $i + 1

.b-fg_KM
	+flag
$i: $i + 1

.b-fg_KN
	+flag
$i: $i + 1

.b-fg_KOSOVO
	+flag
$i: $i + 1

.b-fg_KP
	+flag
$i: $i + 1

.b-fg_KR
	+flag
$i: $i + 1

.b-fg_KW
	+flag
$i: $i + 1

.b-fg_KY
	+flag
$i: $i + 1

.b-fg_KZ
	+flag
$i: $i + 1

.b-fg_LA
	+flag
$i: $i + 1

.b-fg_LB
	+flag
$i: $i + 1

.b-fg_LC
	+flag
$i: $i + 1

.b-fg_LI
	+flag
$i: $i + 1

.b-fg_LK
	+flag
$i: $i + 1

.b-fg_LR
	+flag
$i: $i + 1

.b-fg_LS
	+flag
$i: $i + 1

.b-fg_LT
	+flag
$i: $i + 1

.b-fg_LU
	+flag
$i: $i + 1

.b-fg_LV
	+flag
$i: $i + 1

.b-fg_LY
	+flag
$i: $i + 1

.b-fg_MA
	+flag
$i: $i + 1

.b-fg_MC
	+flag
$i: $i + 1

.b-fg_MD
	+flag
$i: $i + 1

.b-fg_ME
	+flag
$i: $i + 1

.b-fg_MF
	+flag
$i: $i + 1

.b-fg_MG
	+flag
$i: $i + 1

.b-fg_MH
	+flag
$i: $i + 1

.b-fg_MK
	+flag
$i: $i + 1

.b-fg_ML
	+flag
$i: $i + 1

.b-fg_MM
	+flag
$i: $i + 1

.b-fg_MN
	+flag
$i: $i + 1

.b-fg_MO
	+flag
$i: $i + 1

.b-fg_MP
	+flag
$i: $i + 1

.b-fg_MQ
	+flag
$i: $i + 1

.b-fg_MR
	+flag
$i: $i + 1

.b-fg_MS
	+flag
$i: $i + 1

.b-fg_MT
	+flag
$i: $i + 1

.b-fg_MU
	+flag
$i: $i + 1

.b-fg_MV
	+flag
$i: $i + 1

.b-fg_MW
	+flag
$i: $i + 1

.b-fg_MX
	+flag
$i: $i + 1

.b-fg_MY
	+flag
$i: $i + 1

.b-fg_MZ
	+flag
$i: $i + 1

.b-fg_NA
	+flag
$i: $i + 1

.b-fg_NC
	+flag
$i: $i + 1

.b-fg_NE
	+flag
$i: $i + 1

.b-fg_NF
	+flag
$i: $i + 1

.b-fg_NG
	+flag
$i: $i + 1

.b-fg_NI
	+flag
$i: $i + 1

.b-fg_NKR
	+flag
$i: $i + 1

.b-fg_NL
	+flag
$i: $i + 1

.b-fg_NO
	+flag
$i: $i + 1

.b-fg_NP
	+flag
$i: $i + 1

.b-fg_NR
	+flag
$i: $i + 1

.b-fg_NU
	+flag
$i: $i + 1

.b-fg_NZ
	+flag
$i: $i + 1

.b-fg_OM
	+flag
$i: $i + 1

.b-fg_PA
	+flag
$i: $i + 1

.b-fg_PE
	+flag
$i: $i + 1

.b-fg_PF
	+flag
$i: $i + 1

.b-fg_PG
	+flag
$i: $i + 1

.b-fg_PH
	+flag
$i: $i + 1

.b-fg_PK
	+flag
$i: $i + 1

.b-fg_PL
	+flag
$i: $i + 1

.b-fg_PM
	+flag
$i: $i + 1

.b-fg_PN
	+flag
$i: $i + 1

.b-fg_PR
	+flag
$i: $i + 1

.b-fg_PS
	+flag
$i: $i + 1

.b-fg_PT
	+flag
$i: $i + 1

.b-fg_PW
	+flag
$i: $i + 1

.b-fg_PY
	+flag
$i: $i + 1

.b-fg_QA
	+flag
$i: $i + 1

.b-fg_RE
	+flag
$i: $i + 1

.b-fg_RO
	+flag
$i: $i + 1

.b-fg_RS
	+flag
$i: $i + 1

.b-fg_RU
	+flag
$i: $i + 1

.b-fg_RW
	+flag
$i: $i + 1

.b-fg_SA
	+flag
$i: $i + 1

.b-fg_SB
	+flag
$i: $i + 1

.b-fg_SC
	+flag
$i: $i + 1

.b-fg_SD
	+flag
$i: $i + 1

.b-fg_SE
	+flag
$i: $i + 1

.b-fg_SG
	+flag
$i: $i + 1

.b-fg_SH
	+flag
$i: $i + 1

.b-fg_SI
	+flag
$i: $i + 1

.b-fg_SJ
	+flag
$i: $i + 1

.b-fg_SK
	+flag
$i: $i + 1

.b-fg_SL
	+flag
$i: $i + 1

.b-fg_SM
	+flag
$i: $i + 1

.b-fg_SN
	+flag
$i: $i + 1

.b-fg_SO
	+flag
$i: $i + 1

.b-fg_SOUTH-OSSETIA
	+flag
$i: $i + 1

.b-fg_SR
	+flag
$i: $i + 1

.b-fg_ST
	+flag
$i: $i + 1

.b-fg_SV
	+flag
$i: $i + 1

.b-fg_SY
	+flag
$i: $i + 1

.b-fg_SZ
	+flag
$i: $i + 1

.b-fg_TC
	+flag
$i: $i + 1

.b-fg_TD
	+flag
$i: $i + 1

.b-fg_TF
	+flag
$i: $i + 1

.b-fg_TG
	+flag
$i: $i + 1

.b-fg_TH
	+flag
$i: $i + 1

.b-fg_TJ
	+flag
$i: $i + 1

.b-fg_TK
	+flag
$i: $i + 1

.b-fg_TL
	+flag
$i: $i + 1

.b-fg_TM
	+flag
$i: $i + 1

.b-fg_TN
	+flag
$i: $i + 1

.b-fg_TO
	+flag
$i: $i + 1

.b-fg_TR
	+flag
$i: $i + 1

.b-fg_TT
	+flag
$i: $i + 1

.b-fg_TV
	+flag
$i: $i + 1

.b-fg_TW
	+flag
$i: $i + 1

.b-fg_TZ
	+flag
$i: $i + 1

.b-fg_UA
	+flag
$i: $i + 1

.b-fg_UG
	+flag
$i: $i + 1

.b-fg_UM
	+flag
$i: $i + 1

.b-fg_US
	+flag
$i: $i + 1

.b-fg_UY
	+flag
$i: $i + 1

.b-fg_UZ
	+flag
$i: $i + 1

.b-fg_VA
	+flag
$i: $i + 1

.b-fg_VC
	+flag
$i: $i + 1

.b-fg_VE
	+flag
$i: $i + 1

.b-fg_VG
	+flag
$i: $i + 1

.b-fg_VI
	+flag
$i: $i + 1

.b-fg_VN
	+flag
$i: $i + 1

.b-fg_VU
	+flag
$i: $i + 1

.b-fg_WF
	+flag
$i: $i + 1

.b-fg_WS
	+flag
$i: $i + 1

.b-fg_YE
	+flag
$i: $i + 1

.b-fg_YT
	+flag
$i: $i + 1

.b-fg_ZA
	+flag
$i: $i + 1

.b-fg_ZM
	+flag
$i: $i + 1

.b-fg_ZW
	+flag
$i: $i + 1